@model IEnumerable<Web_Sell.Models.Orders>


@{
    ViewBag.Title = "My Orders";
    //Layout = "~/Views/_LayoutHome.cshtml";
}

<h2>My Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Payment</th>
            <th>Method</th>
            <th>DeliverySlips</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var order in Model)
        {

            var agent = Model.FirstOrDefault(s => s.AgentID.Equals(Session["AgentID"]));
            if (agent != null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => order.OrderID)
                    </td>
                    <td>
                        @Html.DisplayFor(model => order.PaymentMethod)
                    </td>
                    <td>
                        @Html.DisplayFor(model => order.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(model => order.DeliverySlips)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>