
@{
    ViewBag.Title = "Checkout_Success";
    //Layout = "~/Views/_LayoutHome.cshtml";
}
<body style="text-align:center">

    <h2 class="alert alert-success">Thank you for your order. Your order is being processed and you will be notified of the result shortly.</h2>
    <a class="btn btn-success" href="@Url.Action("Index","Home")">Countinuos shopping...</a>
</body>


