
@{
    ViewBag.Title = "Checkout_Success";
    //Layout = "~/Views/_LayoutHome.cshtml";
}
<h2>Checkout_Success</h2>
<body style="text-align:center">
    <h2>Shopping Successfull</h2>
    <a class="btn btn-success" href="@Url.Action("Index","Home")">Countinuos shopping...</a>
</body>


